<form action="/login" id="login" method="post" data-no-partial-refresh="">
	<input type="hidden" name="csrfmiddlewaretoken"
		value="itFLclmQtLbtPqCVch0ersmbS6G58AwbT0ZMg34TesGzqhDQroIqOF6SOCV4CgtU">
	<input type="hidden" name="next" value="/user/_">
	<div>
		<label for="id_username_or_email">Username or Email</label>
		<div>
			<input type="text" name="username_or_email" required="" id="id_username_or_email">
		</div>
	</div>
	<div>
		<label for="id_password">Password</label>
		<div>
			<input type="password" name="password" required="" id="id_password">
		</div>
	</div>
	<div>
		<div>
			<button type="submit" name="submit">me in!</button>
		</div>
	</div>
</form>