<!DOCTYPE html>
<html>
<head>
    <title>{{ t(key="login", lang=lang) }}</title>
</head>
<body>
    <h1>{{ t(key="login", lang=lang) }}</h1>
    <form action="/login" method="POST">
        <div>
            <label>{{ t(key="field-email", lang=lang) }}:</label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label>{{ t(key="field-password", lang=lang) }}:</label>
            <input type="password" name="password" required />
        </div>
        <button type="submit">🔓{{ t(key="login", lang=lang) }}</button>
    </form>
    <a href="/register">{{ t(key="register_here", lang=lang) }}</a>
</body>
</html>
