<!DOCTYPE html>
<html>
<head>
    <title>{{ t(key="login", lang="en-US") }}</title>
</head>
<body>
    <h1>{{ t(key="login", lang="en-US") }}</h1>
    <form action="/login" method="POST">
        <div>
            <label>{{ t(key="field-email", lang="en-US") }}:</label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label>{{ t(key="field-password", lang="en-US") }}:</label>
            <input type="password" name="password" required />
        </div>
        <button type="submit">🔓{{ t(key="login", lang="en-US") }}</button>
    </form>
    <a href="/register">{{ t(key="register_here", lang="en-US") }}</a>
</body>
</html>
