<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menu</title>
</head>

<body>
    <div th:fragment="menu">
        <h1 th:text="#{book_club}"></h1>
        <ul>
            <li style="display: inline;">
                <a href="/leaderboard" th:text="'📊' + #{leaderboard}"></a>
            </li>
            <li style="display: inline;">
                <a href="/events" th:text="'📆' + #{events}"></a>
            </li>
            <li style="display: inline;">
                <a href="/profile" th:text="'👤' + #{user.profile}"></a>
            </li>
            <li style="display: inline;">
                <a href="/users" th:text="'📋' + #{users}"></a>
            </li>
            <li style="display: inline;" th:if="${isAdmin}">
                <a href="/vote/matrix" th:text="'🔧' + #{matrix}"></a>
            <li style="display: inline;">
                <a href="/logout" th:text="'🚪' + #{logout}"></a>
            </li>
        </ul>
    </div>
</body>

</html>
