<!DOCTYPE html>
<html lang="en">

<head>
	<title th:text="#{leaderboard}"></title>
</head>

<body>
	<div th:replace="fragments/menu :: menu"></div>
	<h2 th:text="#{leaderboard}"></h2>
	<ol>
		<li th:each="book : ${books}">
			<span>
				<span th:if="${book.isNew}" th:text="'🆕'"></span>
				<a th:href="${book.url}" th:text="${book.author} + ': ' + ${book.title}"></a>
				<span th:if="${book.isNew}" th:text="'🆕'"></span>
				<br />
				<span th:each="suggestion : ${book.suggestions}">
					<span th:if="${suggestion.id == null}">
						<span th:text="#{field.recommender} + ': '"></span>
						<a th:text="${suggestion.name}" th:href="@{'/suggestion/' + ${book.id}}"></a>
					</span>
					<span th:unless="${suggestion.id == null}">
						<span th:text="#{field.recommender} + ': '"></span>
						<a th:text="${suggestion.name}" th:href="@{'/suggestion/' + ${suggestion.id}}"></a>
					</span>
				</span>
			</span>
			<form th:action="@{/vote}" method="post" style="display: inline;" th:if="${!book.userVoted}">
				<input type="hidden" name="method" value="put" />
				<input type="hidden" th:value="${book.id}" name="bookId" />
				<button type="submit" th:text="'👍' + #{button.vote}"></button>
			</form>
			<form th:action="@{/vote}" method="post" style="display: inline;" th:if="${book.userVoted}">
				<input type="hidden" name="method" value="delete" />
				<input type="hidden" th:value="${book.id}" name="bookId" />
				<button type="submit" th:text="'👎' + #{button.unvote}"></button>
			</form>
			<form th:action="@{/event/new}" method="get" style="display: inline;" th:if="${isAdmin}">
				<input type="hidden" th:value="${book.id}" name="bookId" />
				<button type="submit" th:text="'🗓️' + #{events.new}"></button>
			</form>
		</li>
	</ol>
	<form th:action="@{/book/new}" method="get">
		<button type="submit"  th:text="'📚' + #{book.add_new}"></button>
	</form>
</body>

</html>