<!DOCTYPE html>
<html lang="en">

<head>
	<title th:text="#{login}"></title>
</head>

<body>
	<h1 th:text="#{login}"></h1>
	<form name='login_form' action="login" method='POST'>
		<div>
			<label th:text="#{field.email} + ':'"></label>
			<input type='text' name='username' value='' />
		</div>
		<div>
			<label th:text="#{field.password} + ':'"></label>
			<input type='password' name='password' value='' />
		</div>
		<button type="submit" th:text="'🔓' + #{login}"></button>
	</form>
	<a href="/registration" th:text="#{register_here}"></a>
</body>

</html>