<!DOCTYPE html>
<html lang="en">

<head>
    <title th:text="#{user.profile}"></title>
</head>

<body>
    <div th:replace="fragments/menu :: menu"></div>
    <h2 th:text="#{user.profile}"></h2>
    <h3 th:text="#{user.information}"></h3>
    <div>
        <span th:text="#{field.name} + ': '"></span>
        <span th:text="${user.name}"></span>
    </div>
    <div>
        <span th:text="#{field.external_id} + ': '"></span>
        <span th:text="${user.externalId}"></span>
    </div>
    <h3 th:text="#{field.emails} + ': '"></h3>
    <div>
        <ul>
            <li th:each="email : ${user.emails}">
                <span th:text="${email}"></span>
                <form th:action="@{/profile/email}" method="post" style="display: inline;" th:if="${#lists.size(user.emails) > 1}">
                    <input type="hidden" name="method" th:value="delete" />
                    <input type="hidden" name="email" th:value="${email}" />
                    <button type="submit" th:text="'🗑️' + #{button.remove}"></button>
                </form>
            </li>
        </ul>
    </div>
    <div>
        <form th:action="@{/profile/email}" method="post">
            <input type="hidden" name="method" th:value="put" />
            <label for="email" th:text="#{field.email.add} + ': '"></label>
            <input type="text" name="email" />
            <button type="submit" th:text="'➕' + #{button.add}"></button>
        </form>
    </div>
    <h3 th:text="#{field.password.change}"></h3>
    <div>
        <form th:action="@{/profile/password}" method="post">
            <label for="oldPassword" th:text="#{field.password.old} + ': '"></label>
            <input type="password" name="oldPassword" />
            <br />
            <label for="password" th:text="#{field.password.new} + ': '"></label>
            <input type="password" name="password" />
            <br />
            <label for="confirmPassword" th:text="#{field.password.confirm} + ': '"></label>
            <input type="password" name="confirmPassword" />
            <br />
            <button type="submit" th:text="'🔑' + #{button.change}"></button>
        </form>
    </div>
</body>

</html>