<!DOCTYPE html>
<html lang="en">

<head>
	<title th:text="#{registration}"></title>
</head>

<body>
	<h1 th:text="#{registration}"></h1>
	<form name='registration_form' action="registration" method='POST'>
		<div>
			<label th:text="#{field.name} + ': '"></label>
			<input type="text" name="name" />
		</div>
		<div>
			<label th:text="#{field.email} + ': '"></label>
			<input type="text" name="email" />
		</div>
		<div>
			<label th:text="#{field.confirm_email} + ': '"></label>
			<input type="text" name="confirm_email" />
		</div>
		<div>
			<label th:text="#{field.password} + ': '"></label>
			<input type="password" name="password" />
		</div>
		<div>
			<label th:text="#{field.confirm_password} + ': '"></label>
			<input type="password" name="confirm_password" />
		</div>
		<div>
			<label th:text="#{field.external_id} + ': '"></label>
			<input type="text" name="external_id" />
		</div>
		<button type="submit" th:text="#{registration}"></button>
	</form>
	<a href="/login"  th:text="#{login_here}"></a>
</body>

</html>