<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title th:text="#{book.add_new}"></title>
</head>

<body>
	<h2 th:text="#{book.add_new}"></h2>
	<form action="/suggestion" method="post">
		<div>
			<label for="author" th:text="#{book.author}"></label>
			<input type="text" name="author" />
		</div>
		<div>
			<label for="title" th:text="#{book.title}"></label>
			<input type="text" name="title" />
		</div>
		<div>
			<label for="url" th:text="#{book.url}"></label>
			<input type="text" name="url" />
		</div>
		<div>
			<label for="url" th:text="#{book.description}"></label>
			<textarea type="text" name="description"></textarea>
		</div>
		<button type="submit" th:text="'📚 ' + #{book.add_new}"></button>
	</form>
</body>

</html>